doctype html
html
	head
		title osom blog
		link(rel='stylesheet' type='text/css' href='/css/materialize.min.css')
		link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
	body
		.row
			.col.l4
				if user
					h1 Hello #{user.name}
					a(href='/logout')
						input#logout(type='submit' value='Log the hell out')
				else
					h1 Hello anonymous
					a(href='/login')
						input#login(type='submit' value='Log in')
			.col.l8
				if user
					form.col.s12
						div.row
							div.input-field.col.s12
								textarea(id="textarea1" class="materialize-textarea" rows="5")
								label(for="textarea1") Write your blog post
								input#create(type='submit' value='create post')
				else
					div Only users can create blog posts!



	script(src='/js/jquery-3.1.1.min.js')
	script(src='/js/materialize.min.js')
	//- script(src='/js/main.js')