doctype html
html
	head
		title osom blog
		link(rel='stylesheet' type='text/css' href='/css/materialize.min.css')
		link(rel='stylesheet' type='text/css' href='/css/jquery-ui.min.css')
		link(href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet")
		link(rel='stylesheet' type='text/css' href='/css/main.css')
		link(href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
	body
		.row
			.col.s6.offset-s3
				if user
					ul.nav
						li
							a(href='/') HOME
					form.col.s12(action='/create' method='post')
						div.row
							div.col.l12
								div.row
									div
										label(for="title") Title
										input(id="title" type="text" name="title" required)
								div.row
									textarea(id="summernote" name="textarea" required) Write down your post
								input.btn-flat.center-align.black-text#create(type='submit' value='create post')
				else
					ul.nav
						li
							a(href='/') GO BACK
					h3.align-center Only users can create blog posts!



	script(src='/js/jquery-3.1.1.min.js')
	script(src='/js/jquery-ui.min.js')
	script(src='/js/materialize.min.js')
	//- include CDN for Summernote text processor
	script(src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js")
	script.
		$(document).ready(function() {
			$('#summernote').summernote({
				height: 300
			})
		})