doctype html
html
	head
		title osom blog
		link(rel='stylesheet' type='text/css' href='/css/materialize.min.css')
		link(rel='stylesheet' type='text/css' href='/css/main.css')
		link(href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css')
		link(rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway")
	body
		if user
			//- a 
			//- 	span.black-text Welcome, #{user.name}!
			ul.nav
				li
					a(href='/create') CREATE A POST
						//- input(type='submit' value='Create a post')
				if filter === "off"
					li
						a#filter(href='/filter') SHOW MY POSTS
						//- input(type='submit' value='Show my posts')
				else
					li
						a#filter(href='/') SHOW ALL POSTS
				li
					a(href='/logout') LOG OUT
					//- input#logout(type='submit' value='Log the hell out')
			div#header.valign-wrapper
				div.row.valign
					div.col.l12
						h1.center.white-text  osom blog
		else
			ul.nav
				li
					a(href='/register') REGISTER
				li
					a(href='/') POSTS
			div#header.valign-wrapper
				div.row
					div.col.l7
						h1.valign.center.white-text  Log in, anonymous
					div.col.l4
						//- LOG in form
						form( action='login' method='post' )
							label Email
								input( name='email' required )
							label Password
								input( name='password' type="password" required )
							.col.l6
								input.btn-flat.center-align.white-text#login(type='submit' value='Log me in')
							.col.l6
								div.white-text.bottom Don't have an accout yet? It's super easy to 
									a(href='/register') register
			//- Show all posts
		.row
			.col.s6.offset-s3
				h2(id='heading') #{thePost.title}
				h5(id='author') Written by #{author}
				p #{thePost.content}
				br
				div.row
					div.col.l12
						div.row
							div#comment-list
				div.row
					if user
						form.col.l12
							div.row#hello
								div.input-field.col.l10
									input(id="textarea1" class="materialize-textarea" name="comment" placeholder="Leave a comment here")
								input.btn-flat.center-align.black-text(type='submit' id="comment-submit" value='post')
					else
						div.row
							p.blue-text Only users are allowed to comment
	script(src='/js/jquery-3.1.1.min.js')
	script(src='/js/materialize.min.js')
	script(src='/js/main.js')